<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Eternal Shoes</title>
  <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,400i,700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body class="flex-column min-100-vh">
  <nav class="navbar">
    <ul>
      <li class="li-inline nav-item"><a href="/">Home</a></li>
      <li class="li-inline nav-item"><a href="/dashboard">Dashboard</a></li>
      <li class="li-inline nav-item"><a href="/new-Shoe">Add a Shoe</a></li>
      {{#if userId}}
      <li class="li-inline nav-item"><button id="logout-link">Logout</button></li>
      <script src="js/logout.js"></script>
      {{else}}
      <li class="li-inline nav-item"><a href="/signup">signup</a></li>
      <li class="li-inline nav-item"><a href="/login">Login</a></li>
      {{/if}}
    </ul>
  </nav>
  <header class="hero">
    <h1 class="app-title"><a href="/">Eternal Shoes</a></h1>
  </header>

  <main>
    {{{body}}}
  </main>



</body>

</html>
