    <script src="https://cdn.jsdelivr.net/npm/handlebars@4.7.7/dist/handlebars.min.js"></script>
    <script id="template" type="text/x-handlebars-template">
		<div class="alert alert-{{type}}">{{message}}</div>
	</script>
    <script>
        var source = document.getElementById("template").innerHTML;
        var template = Handlebars.compile(source);
        var html = template(context);
        document.body.innerHTML += html;
    </script>

</body>

</html>
