<div class="listTemplate">

    <div class="Title">
        Title 
        {{listName}} 
    </div>

    <div class="Items">
        <ol>
            {{#each allListItems}}
                <li> {{listItem}} </li>
            {{/each}}
        </ol>
    </div>

</div>


