<div>
    <h1 class = "login-heading">Login here</h1>
    <form id="login-form">
        <label for="username-input" class="username-header">username</label>
        <input type="text" id="username-input">
        <label for="password-input"class="password-header">password</label>
        <input type="password" id="password-input">
        <button type="submit">Submit</button>
    </form>
</div>


<div>
    <h1 class = 'sign-up-heading'>Signup here</h1>
    <form id="login-form">
        <label for="username-input">username</label>
        <input type="text" id="username-input">
        <label for="password-input">password</label>
        <input type="password" id="password-input">
        <button type="submit">Submit</button>
    </form>
</div>

<script src="/Project2/Assets/js/login.js"></script>