<div>
  <h1>Signup here</h1>
  <form id="login-form">
    <label for="user-type">Checkbox for Retailers</label>
    <input type="checkbox" id="user-type">
    <label for="username-input">username</label>
    <input type="text" id="username-input">
    <label for="password-input">password</label>
    <input type="password" id="password-input">
    <button type="submit">Submit</button>
  </form>
</div>
<script src="../public/js/shoeForm.js"></script>