<div>
    <h1>Signup here</h1>
    <form id="login-form">
        <label for="username-input">username</label>
        <input type="text" id="username-input">
        <label for="password-input">password</label>
        <input type="password" id="password-input">
        <button type="submit">Submit</button>
    </form>
</div>
<script src="js/signup.js"></script>